<form [formGroup]="carroForm" (ngSubmit)="crear()">
  <div class="form-group">
    <label for="modelo">Modelo</label>
    <input validar type="text" class="form-control" id="modelo" formControlName="modelo" >
  </div>
  <div class="form-group">
    <label for="tipoCambios">Tipo de cambios</label>
    <select validar class="form-control" id="tipoCambios" formControlName="tipoCambios" >
      <option>Automatico</option>
      <option>Manual</option>
    </select>
  </div>
  <div class="form-group">
    <label for="numPasajeros">Numero de pasajeros</label>
    <input validar type="number" class="form-control" id="numPasajeros" formControlName="numPasajeros" >
  </div>
  <div class="form-group">
    <label for="numPuertas">Numero de puertas</label>
    <input validar type="number" class="form-control" id="numPuertas" formControlName="numPuertas" >
  </div>
  <div class="form-group">
    <label for="tipoCombustible">Tipo de combustible</label>
    <select validar class="form-control" id="tipoCombustible" formControlName="tipoCombustible" >
      <option>Gasolina</option>
      <option>Gas</option>
      <option>Electrico</option>
    </select>
  </div>
  <button id="btnCarro" type="submit" [disabled]="carroForm.invalid" class="btn btn-primary">Guardar carro</button>
</form>
<br/>
<app-alert *ngIf="cabecera" [cabecera]="cabecera" [mensaje]="mensaje"></app-alert>
<br/>
